html{
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    -webkit-font-smoothig: antialiased;
}

.centernav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    width: 100vw;
  }

.nome {
    display: flex;
    font-size: 4vw;
    background-color: rgba(255, 165, 0);
    width: 100vw;
    height: 28vh;
    align-items: center;
    justify-content: center;

}

.nomeum {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 200;
    color: whitesmoke;
}

.nomedois {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    color: whitesmoke;
    text-indent: 2.4vw;
}

.sobre {
    text-align: center;
    font-size: 2.6vw;
    color: #000;
    margin: 8vh 0 4vh 0;
}

.like {
    font-size: 2.2vw;
}

.curriculo {
    text-decoration: none;
    color: #000;
    display: block;
    text-align: center;
    transition: 0.4s;
    font-size: 2.4vw;
    margin-top: 8vh;
    text-shadow: 1px 2px 0 rgba(255, 165, 0);
}

.curriculo:hover {
    opacity: 38%;
    text-shadow: 0 0 0 black;
  }

.sobre {

}

.centernav footer {
    display: flex;
    width: 100vw;
    height: 4vh;
    border: 0;
    align-items: center;
    justify-content: center;
    background-color:  rgba(255, 165, 0, 0);
}

.centernav footer ul {
    display: flex;
    margin-top: 8vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style:none;
}

.centernav .icon {
    display: flex;
    flex: 1;
    margin: 4vh 2vh;
}

.centernav .icon img {
    height: 3.5vw;
    width: 3.5vw;
    transition: 0.3s;
}

.centernav .icon img:hover {
    opacity: 70%;
}